/*
Joel Mardock
8-21-2022
Module 3.2 Assignment: Building a Web Page Exercise, Part 2
*/

html, body
{
    font-size: 16px;
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif; 
    font-weight: 400;
 
}

h1, h2
{
    font-family: 'Oswald', Verdana, Arial, sans-serif; 
}

h1
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.052em;
    word-spacing: .5em;
    text-align: center;
    margin: 0px;  /* REVISIT THIS ONE */
}

h2
{
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: .2em;
    margin: 0px;
    text-align: left;
    padding-top: 15px;
}

p{
    line-height: 1.4em;
}

address
{
    font-family:'Quattrocento', Georgia, "Times New Roman", serif;
    text-align: center;
    
}

a:link
{
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
    color: #D6A800;
}

a:visited
{
    text-decoration:line-through;
    color: red;

}

.intro
{
    text-indent: .2em;

}

.sentence
{
    font-style: italic;
}